body {
  background-color: lightgray;
}

.form-signin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5%;
}

.paginationCustom {
  justify-content: center;
}

.app {
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "side-bar header"
    "side-bar content";

  height: 100vh;

  .header {
    grid-area: header;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .theme-icon {
      cursor: pointer;
    }
  }

  .side-bar {
    grid-area: side-bar;
    background-color: gainsboro;
    .logo {
      height: 50px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gainsboro;
    }
  }

  .content {
    grid-area: content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;

    .exams-table tbody tr:hover {
      background-color: lightcyan;
    }
  }
}

